<ion-header>
  <ion-toolbar color="duocy">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="frmlogin" (ngSubmit)="onSubmit()"> 
    <ion-item>
      <ion-label position="floating" color="medium">Usuario</ion-label> <!-- Gris por defecto -->
      <ion-input required formControlName="usuario" name="username" type="text" placeholder="Ingresa tu usuario" color="medium"></ion-input> <!-- Gris por defecto -->
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="medium">Contraseña</ion-label> <!-- Gris por defecto -->
      <ion-input required formControlName="password" name="password" type="password" placeholder="Ingresa tu contraseña" color="medium"></ion-input> <!-- Gris por defecto -->
    </ion-item>
    <br>
    <ion-button block color="duocy" type="submit" [disabled]="frmlogin.invalid">
      Iniciar
    </ion-button>
    <ion-button routerLink="/register" color="duocb">
      Registrarme
    </ion-button>
    <!-- <ion-button routerLink="/reg" color="duocb">
      Registrar
    </ion-button> -->
  </form>
</ion-content>
